@model IEnumerable<Software.Models.CourseTb>
@*@{
        ViewBag.Title = "Schedule";
    }*@
<h2>Course Schedule</h2>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>ID</th>
        <th>Name </th>
        <th>Points </th>
        <th>ExamA</th>
        <th>ExamB</th>
        <th>Lecturer ID</th>
        <th>Time</th>
        <th>Class</th>
    </tr>
    @foreach (var d in Model)
    {
        <tr>
           
            <td>@d.ID</td>
            <td>@d.Name</td>
            <td>@d.Points</td>
            <td>@d.ExamA</td>
            <td>@d.ExamB</td>
            <td>@d.Lecturer</td>
            <td>@d.Time</td>
            <td>@d.Class</td>

        </tr>

    }
</table>
