@model Software.Models.User




<!--using software.models.model2; -->
@{
    ViewBag.Title = "Work!!";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>One</title>

</head>
<body>
    <h2>One work!!</h2>


    @using (Html.BeginForm("CheckOne", "Manager", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        
        if (TempData["temp1"] != null)
        {
            <label style="color:maroon;"> @TempData["temp1"] </label>
            <br /><br />
        }


        @Html.TextBoxFor(s => s.ID, new { @placeholder = "Student ID" })
        <br /><br />


        <br />
        @Html.TextBoxFor(x => x.Lname, new { @placeholder = "Course ID" })
        <div>
            <button type="submit">Add</button>
        </div>
    }
    <br />

    @using (Html.BeginForm("Home", "Manager", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div>
            <button type="submit">Back</button>
        </div>
    }
</body>
</html>

