@model IEnumerable<Software.Models.GradesTb>




<head>
    <meta name="viewport" content="width=device-width" />
</head>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

    <h2>Edit Course</h2>

    <table class="table table-bordered table-responsive table-hover">

        <tr>

            <th></th>
            <th>Student ID</th>
            <th>Lecturer ID</th>
            <th>Exam A gread</th>
            <th>Exam B gread</th>
        </tr>

        @foreach (var item in Model)
        {
            //@Html.HiddenFor(model=>item)
            <tr>
                <td> @Html.ActionLink("Edit", "EditThree", new { StudentID = item.StudentID, CourseID = item.CourseID })</td>
                <td>@Html.Encode(item.StudentID)</td>
                <td>@Html.Encode(item.CourseID)</td>
                <td>@Html.Encode(item.GradeA)</td>
                <td>@Html.Encode(item.GradeB)</td>
            </tr>
        }

    </table>


    @using (Html.BeginForm("Home", "Manager", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div>
            <button type="submit">Back</button>
        </div>
    }

</asp:Content>


