@model Software.Models.GradesTb



@{
    ViewBag.Title = "Three";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Three</title>
</head>
<body>
    <h2>work!!</h2>



    @using (Html.BeginForm("CheckThree", "Manager", FormMethod.Post))
    {


        @Html.AntiForgeryToken()

        if (TempData["temp1"] != null)
        {
            <label style="color:maroon;"> @TempData["temp1"] </label>
            <br /><br />
        }

        @Html.TextBoxFor(a => a.StudentID, new { @placeholder = "StudentID" })

        <br /><br />
        @Html.TextBoxFor(x => x.CourseID, new { @placeholder = "CourseID" })
        <br /><br />

        @Html.TextBoxFor(x => x.GradeA, new { @placeholder = "Moad A" })
        <br /><br />

        @Html.TextBoxFor(x => x.GradeA, new { @placeholder = "Moad A" })

        <div>
            <button type="submit">Edit</button>
        </div>

        <br /><br />
    }
    @using (Html.BeginForm("Home", "Manager", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div>
            <button type="submit">Back</button>
        </div>
    }
</body>
</html>

